/* Header Styling */
header {
    background-color:darkgreen;/* Light Green (Professional, Clean look) */
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 8px 0;  /* Reduced padding for a shorter header */
    display: flex;
    justify-content: space-between; /* Aligns the items to the left and right */
    align-items: center; /* Centers the content vertically */
}
.nav-links {
    position: absolute;
    top: 20px;
    right: 40px;
    display: flex;
    gap: 24px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin-left: 20px; /* Slight margin for better alignment */
}

nav ul li {
    margin: 0 15px; /* Adjusted spacing between the links */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f4f4f9;
}

/* Button Styling */
button#find-hospital {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 30px; /* Adjusted padding */
    text-align: center;
    text-decoration: none;
    justify-content: right;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

/* Hover effect for the button */
button#find-hospital:hover {
    background-color: #007BFF;
}

/* Adjust body padding for fixed header */
body {
    padding-top: 50px; /* Space for fixed header */
}

/* Optional: Styling for links in sections */
section a {
    color: #007BFF;
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}
